# hack to ignore binaries
# Ignore all
*

# Unignore all with extensions
!*.*

# include source files
!src/

# files in .vscode and all directories below .vscode
.vscode/
.idea/

.DS_Store

# xmake directories
.xmake/
build/

# clangd
src/.cache/
.cache/
